@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  /* background: #e5e5e5; */
  background-image: url("/r/wood.jpg");
  min-height: 100%;
}

h1 {
  line-height: 7em;
  font-weight: bold;
}

footer {
  overflow: hidden;
}

.gallery {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
}

.gallery > figure {
  position: relative;
  float: left;
  margin: 10px;
  width: 320px;
  height: 350px;
  min-height: 350px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 1px #000;
  transform-origin: top;
  transition: all .25s;
}
.gallery figure h3 {
}
.gallery figure summary {
  float: right;
  margin-top: -1.6em;
}

.gallery > figure > figcaption {
  padding: 1em;
}
.gallery > figure > figcaption > h3 {
  font-family: "PT Sans";
  padding-bottom: 0.5em;
}

.gallery > figure > img {
  display: block;
  width: 320px;
  height: 160px;
  object-fit: cover;
}

.gallery > figure:hover {
  z-index: 1;
  transform: scale(1.5,1.5);
  background-color: rgba(255, 255, 255, 0.8);
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

/* todo list style */
summary::-webkit-details-marker {
  display: none;
}
details ul {
  margin: 0 0 0 -0.5em;
}
details p {
  padding: 0 0 .25em 0;
}
details li {
  list-style-type: none;
  font-weight: bold;
  font-size: 11px;
  transition: margin 0.3s;

  display: inline-block;
  padding: 0.5em 0.75em;
  margin: 0.5em .5em 0 -.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #444;
  border-radius: 1em;
}

summary {
  transition: font-size 0.3s;
  font-weight: bold;
}

details.done summary {
  color: #292;
}
details.done li, li.done {
  background-color: #5d5;
  border: 1px solid #292;
}
details.done li:after, li.done:after {
  content: " \2713";
}
li.del {
  background-color: #5d5;
  border: 1px solid #292;
  text-decoration: line-through;
}
li.del:after {  /* does nothing */
  content: "";
  display: none;
}
details.wip summary {
  color: #eb0;
}
li.wip {
  background-color: #ff0;
  border: 1px solid #992;
}
li.wip:after {
  content: " \1f552";
}
