html, body, main {
	height: 100%;
	margin: 0;
	color: #ddd;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color: #222;
}

main img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	font-weight: 400;
	letter-spacing: -.025rem;
	line-height: 1;
	padding: 0 0 0.25em;
}

main {
	display: -ms-flexbox;
	display: -webkit-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
	font-size: 5rem;
}
nav li {
	list-style-type: none;
	display: inline;
}

nav a {
	height: 7rem;
	width: 5rem;
	color: inherit;
	display: inline-block;
	padding: 1rem 2rem;
	background-clip: padding-box;
	margin: 0 0 3rem;
	text-decoration: none;
}
nav a:hover {
	color: #222;
	background-color: #ddd;
}

nav a.dull { color: #888; }
nav a.dull:hover {
	color: #888;
	background-color: inherit;
}

header h1 {
	font-size: 5rem;
	margin: 0;
}


svg {
	vertical-align: middle;
	margin-bottom: 1rem;
}


nav a, nav li div {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 1px;
}

nav ul { position: relative; }
nav a { position: relative; }

nav li h2, nav li div {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.1rem;
	color: #222;
}
nav li h2 {
	font-size: 1.4rem;
	color: #ddd;
}
nav li div {
	background-color: #ddd;
	padding: 0.5rem;
}

nav li div,
nav li h2:after {
	visibility: hidden;
	opacity: 0;
	position: absolute;
}

/* Add a triangle to make the tooltip look like a speech bubble */
nav li h2:after {
	top: 0;
	left: 50%;
	/* -0.25 to fix alignment error due to width */
	margin: 2.7rem -0.25rem;
	width: 0;
	/* add 0.05rem overlap so rendering error will not cause separation */
	border-bottom: 0.35rem solid #ddd;
	border-right: 0.35rem solid transparent;
	border-left: 0.35rem solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}


nav li:hover h2:after,
nav li:hover div {
	visibility: visible;
	opacity: 1;
}

nav li h2,
nav li h2:after,
nav div {
	transition: 0.5s;
}

/* Move icon labels slightly on hover */
nav li:hover h2 {
	padding: 0.3rem;
}
